body {
  font-size 14px;
}

.dropdown-wrapper .nav-dropdown .dropdown-item h4 {
  color: rgba(0, 0, 0, .43);
  margin: 0.5rem 0 !important;
  padding: 0.75rem 1.5rem 0 1.25rem !important;
}

.dropdown-wrapper .nav-dropdown .dropdown-item:first-child h4 {
  margin-top: 0 !important;
}
